body {
    padding: 20px;
    background-color: #f8f8f8;
}

table {
    border: 1px solid #ddd;
}
table th, table td {
    width: 40px;
    border: 1px solid #ddd;
    line-height: 20px;
    text-align: center;
}