@font-face {
    font-family: 'dfont';
    src: url('https://at.alicdn.com/t/font_899559_oxpg18c0lre.eot');
    src: url('https://at.alicdn.com/t/font_899559_oxpg18c0lre.eot?#iefix') format('embedded-opentype'),
         url('https://at.alicdn.com/t/font_899559_oxpg18c0lre.woff2') format('woff2'),
         url('https://at.alicdn.com/t/font_899559_oxpg18c0lre.woff') format('woff'),
         url('https://at.alicdn.com/t/font_899559_oxpg18c0lre.ttf') format('truetype'),
         url('https://at.alicdn.com/t/font_899559_oxpg18c0lre.svg#iconfont') format('svg');
}
.df {
    display: inline-block;
    font: normal normal normal 14px/1 'dfont';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.df-fw {
    width: 1.28571429em;
    text-align: center;
}
.df-spin {
    -webkit-animation: df-spin 2s infinite linear;
    animation: df-spin 2s infinite linear;
}
@-webkit-keyframes df-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@keyframes df-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.df-sort:before {
    content: '\e75b';
}
.df-sort-asc:before {
    content: '\e75d';
}
.df-sort-desc:before {
    content: '\e75c';
}

.df-success:before {
    content: '\e606';
}
.df-fail:before {
    content: '\e607';
}
.df-warn:before {
    content: '\e603';
}
.df-ask:before {
    content: '\e604';
}

.df-dialog-mini:before {
    content: '\e605';
}
.df-dialog-window:before {
    content: '\e601';
}
.df-dialog-full:before {
    content: '\e602';
}
.df-dialog-close:before {
    content: '\e600';
}