.d-pagination, .d-pagination * {
    margin: 0;
    padding: 0;
    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
}
.d-pagination {
    height: 30px;
    padding: 6px 20px;
}

.d-pagination .page-info {
    float: left;
    line-height: 30px;
    font-size: 14px;
    color: #666;
}

.d-pagination .page-btn {
    float: right;
}

.d-pagination .page-block {
    display: inline-block;
    vertical-align: top;
    min-width: 16px;
    height: 28px;
    padding: 0 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 3px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    color: #666;
    background: #fff;
    cursor: pointer;
    user-select: none;
}
.d-pagination .page-block:hover {
    border-color: #409eff;
    color: #409eff;
}
.d-pagination .page-block.z-crt {
    border-color: #409eff;
    color: #fff;
    background: #409eff;
    cursor: initial;
}
.d-pagination .page-block.z-dis {
    border-color: #ddd;
    color: #999;
    background: #f6f6f6;
    cursor: not-allowed;
}

.d-pagination .page-list {
    display: inline-block;
    vertical-align: top;
    overflow: hidden
}

.d-pagination .page-jump {
    display: inline-block;
    margin-left: 10px;
}
.d-pagination .page-jump span {
    display: inline-block;
    font-size: 14px;
    color: #666;
}
.d-pagination .page-jump input {
    display: inline-block;
    width: 26px;
    height: 28px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 5px;
    font-size: 13px;
    color: #666;
    text-align: center;
}
.d-pagination .page-jump input:focus {
    border-color: #409eff;
}

.d-pagination .page-jump div {
    margin-left: 5px;
}