/* animation */
.an-fadein {
    opacity: 0;
    animation: fadeIn 0.4s;
    animation-fill-mode: forwards;
}

.an-fadeout {
    opacity: 1;
    animation: fadeOut 0.3s;
    animation-fill-mode: forwards;
}

.an-bounce {
    transform: scale(0.5);
    animation: bounce 0.4s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}
/* end animation */

/* message */
.d-message {
    z-index: 999;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 14px 20px;
    background: rgba(0,0,0,.7);
    transform: translate(-50%, -50%);
}
.d-message p {
    max-width: 15em;
    min-width: 8em;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    word-break: break-all;
    color: #fff;
}
.d-message .df {
    margin-bottom: 8px;
    font-size: 36px;
}
.d-message .df-success {
    color: #37d003;
}
.d-message .df-fail {
    color: #eb3f2f;
}
/* end message */

/* confirm */
.confirm-content {
    position: relative;
    min-height: 50px;
    padding: 30px;
    line-height: 20px;
    font-size: 14px;
    word-break: break-all;
    background: #fff;
}
.confirm-content .df {
    margin-right: 30px;
    font-size: 50px;
    color: #ff5212;
}
/* end confirm */

/* end dialog */
.d-dialog-box {
    z-index: 998;
    position: fixed;
}
.d-dialog-box.z-full {
    left: 0 !important;
    top: 0 !important;
    right: auto !important;
    bottom: auto !important;
    width: 100% !important;
    height: 100% !important;
}

.d-dialog {
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 5px rgba(100,100,100,.4);
}

.dialog-head {
    position: relative;
    height: 50px;
    border-bottom: 1px solid #ddd;
    line-height: 34px;
}
.dialog-head.z-move {
    cursor: move;
    user-select: none;
}
.d-dialog.z-full .dialog-head.z-move, .d-dialog-queue .dialog-head.z-move {
    cursor: auto;
}
.d-dialog.z-move .dialog-body:after {
    content: '';
    z-index: 999;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.dialog-head p {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-indent: 16px;
}
.dialog-head a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #999;
    text-align: center;
    cursor: pointer;
}
.dialog-head a:hover {
    color: #000;
}

.dialog-body {
    position: relative;
    overflow: auto;
}
.dialog-body iframe {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.dialog-foot {
    height: 72px;
    border-top: 1px solid #ddd;
    padding: 0 18px;
}
.dialog-foot button {
    height: 44px;
    padding: 0 2em;
    border: none;
    border-radius: 4px;
    margin-left: 12px;
    font-size: 15px;
    color: #777;
    background: #eee;
}
.dialog-foot button.hl {
    color: #fff;
    background: #FF9000;
}

.d-dialog-queue {
    z-index: 999;
    position: fixed;
    right: 0;
    bottom: 0;
}
.d-dialog-queue .dialog-head {
    float: right;
    width: 160px;
    height: 34px;
    margin-left: 5px;
}
.d-dialog-queue .dialog-head p {
    right: 68px;
}
/* end dialog */

.d-popups-layer {
    z-index: 997;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.1);
}