.d-grid,
.d-grid-head,
.d-grid-body,
.d-grid-foot,
.d-grid-page,
.d-froze-left,
.d-froze-right,
.d-main,
table,
thead,
tbody,
tr,
th,
td,
.th,
.td {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.d-grid {
    position: relative;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    overflow: hidden;
    background: #fff;
}
.d-grid table {
    position: relative;
    border-collapse: separate;
    table-layout: auto;
    border-spacing: 0;
}
.d-grid th, .d-grid td {
    font-weight: normal;
    text-align: left;
}

.d-grid-head,
.d-grid-body,
.d-grid-foot {
    position: relative;
    overflow: hidden;
}
.d-grid-head .d-froze-left,
.d-grid-head .d-froze-right,
.d-grid-head .d-main {
    background-color: #f6f6f6;
}
.d-grid-body .d-froze-left,
.d-grid-body .d-froze-right,
.d-grid-body .d-main {
    background-color: #fff;
}
.d-grid-foot .d-froze-left,
.d-grid-foot .d-froze-right,
.d-grid-foot .d-main {
    background: #f6ffaa;
}
.d-grid-head .d-main,
.d-grid-foot .d-main {
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
}
.d-grid-body .d-main {
    height: 100%;
    overflow: auto;
}
.d-grid-head .d-main:after,
.d-grid-foot .d-main:after {
    content: '';
    display: block;
    min-width: 100px;
}
.d-grid-head th {
    position: relative;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
}
.d-grid-head div.th {
    height: 35px;
    padding: 0 7px;
    overflow: hidden;
    line-height: 35px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.d-grid-head .scroll-x .d-froze-right tr th:nth-child(1) {
    border-left-width: 1px;
}
.d-grid-head .scroll-x .d-froze-right tr th:nth-last-of-type(1) {
    border-right: 0;
}

.d-grid-head.z-draw {
    cursor: col-resize;
    user-select: none;
}
.d-grid-head .d-draw {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 7px;
    cursor: col-resize;
}
.d-grid-head .d-froze-right .d-draw {
    left: 0;
    right: initial;
}

.d-grid-head div.d-grid-sort-th {
    cursor: pointer;
}
.d-grid-head div.d-grid-sort-th .df {
    margin-left: 5px;
    font-size: 20px;
    vertical-align: -2px;
}
.d-grid-head div.d-grid-sort-th .df-sort,
.d-grid-head div.d-grid-sort-th .df-sort-desc,
.d-grid-head div.d-grid-sort-th .df-sort-asc {
    display: none;
}
.d-grid-head div.d-grid-sort-th:hover .df-sort,
.d-grid-head div.d-grid-sort-th.z-sort-desc .df-sort-desc,
.d-grid-head div.d-grid-sort-th.z-sort-asc .df-sort-asc {
    display: inline-block;
}
.d-grid-head div.d-grid-sort-th.z-sort-desc .df-sort,
.d-grid-head div.d-grid-sort-th.z-sort-asc .df-sort {
    display: none;
}
.d-grid-body tr {
    height: 36px;
    color: #444;
    background: #fff;
}
.d-grid-body tr:nth-child(even) {
    background: #fafafa;
}
.d-grid-body tr.z-hover {
    background: #eee;
}
.d-grid-body tr.z-crt {
    background: #ffec85;
    border-bottom-color: #ffb887;
}
.d-grid-body td {
    border-width: 0 1px 1px 0;
    border-style: dotted;
    border-color: #ccc;
}
.d-grid-body .scroll-x .d-froze-right tr td:nth-child(1) {
    border-left-width: 1px;
}
.d-grid-body .scroll-x .d-froze-right tr td:nth-last-of-type(1) {
    border-right: 0;
}
.d-grid-body div.td {
    padding: 0 7px;
    line-height: 20px;
    word-break: break-all;
}
.d-grid-body div.td.z-hide-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.d-grid-body div.td .d-grid-ipt {
    width: 100%;
    height: 26px;
    padding: 0 5px;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #444;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.d-froze-left,
.d-froze-right {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: box-shadow .6s ease;
}
.d-froze-left {
    left: 0;
}
.d-froze-right {
    right: 0;
}
.froze-left-shadow .d-froze-left,
.froze-right-shadow .scroll-x .d-froze-right {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.12);
}

.d-grid-foot {
    border-top: 1px solid #ddd;
    background: #f6ffaa;
}
.d-grid-foot tr {
    color: #444;
}
.d-grid-foot td {
    border-right: 1px solid #ddd;
}
.d-grid-foot div.td {
    line-height: 20px;
    padding: 3px 7px;
}
.d-grid-foot .scroll-x .d-froze-right tr td:nth-last-of-type(1) {
    border-right: 0;
}

.d-grid-page {
    height: 43px;
    border-top: 1px solid #ddd;
    background: #f6f6f6;
}

.d-grid-chk-all, .d-grid-chk {
    vertical-align: -2px;
}

.d-froze-right {
    align-self: baseline;
    position: initial;
    overflow: initial;
}
.scroll-x .d-froze-right {
    position: absolute;
    overflow: hidden;
}

.d-main.has-right > table tr:nth-child(1) th:nth-last-child(1),
.d-main.has-right > table td:nth-last-child(1) {
    display: none;
}
.d-main.has-right.scroll-x > table tr:nth-child(1) th:nth-last-child(1),
.d-main.has-right.scroll-x > table td:nth-last-child(1) {
    display: table-cell;
}