.d-grid-box, .d-grid-box * {
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.d-grid-box {
    position: relative;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    overflow: hidden;
    background: #fff;
}
.d-grid-box table {
    border-collapse: separate;
    table-layout: auto;
    border-spacing: 0;
}
.d-grid-box th, .d-grid-box td {
    font-weight: normal;
    text-align: left;
}

.d-grid-hd {
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: #444;
    background: #f6f6f6;
}
.d-grid-bd {
    overflow-x: auto;
    overflow-y: hidden;
}

.d-grid-main {
    overflow: hidden;
}

.d-grid-froze {
    position: absolute;
    top: 0;
}

.d-grid-scroll-y {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 17px;
    width: 0;
    overflow-y: auto;
    background: #f6f6f6;
}
.d-grid-scroll-y div {
    position: absolute;
    right: 0;
    top: 35px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
}
.d-grid-scroll-y div span {
    display: block;
    width: 1px;
}

.d-grid-hd th {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
}
.d-grid-froze-left .d-grid-hd tr th:nth-last-child(1) {
    border-right-color: #ccc;
}
.d-grid-froze-right .d-grid-hd tr th:nth-child(1) {
    border-left-width: 1px;
    border-left-color: #ccc;
}
.d-grid-froze-right .d-grid-hd tr th:nth-last-of-type(1) {
    border-right: 0;
}
.d-grid-hd div.th {
    height: 35px;
    padding: 0 7px;
    overflow: hidden;
    line-height: 35px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.d-grid-hd div.d-grid-sort-th {
    cursor: pointer;
}
.d-grid-hd div.d-grid-sort-th .df {
    margin-left: 5px;
    font-size: 20px;
    vertical-align: -2px;
}
.d-grid-hd div.d-grid-sort-th .df-sort,
.d-grid-hd div.d-grid-sort-th .df-sort-desc,
.d-grid-hd div.d-grid-sort-th .df-sort-asc {
    display: none;
}
.d-grid-hd div.d-grid-sort-th:hover .df-sort,
.d-grid-hd div.d-grid-sort-th.z-sort-desc .df-sort-desc,
.d-grid-hd div.d-grid-sort-th.z-sort-asc .df-sort-asc {
    display: inline-block;
}
.d-grid-hd div.d-grid-sort-th.z-sort-desc .df-sort,
.d-grid-hd div.d-grid-sort-th.z-sort-asc .df-sort {
    display: none;
}

.d-grid-bd thead tr {
    height: 0;
    border: none;
}
.d-grid-bd td {
    border-width: 0 1px 1px 0;
    border-style: dotted;
    border-color: #ccc;
}
.d-grid-froze-left .d-grid-bd tr td:nth-last-child(1) {
    border-right-style: solid;
}
.d-grid-froze-right .d-grid-bd tr td:nth-child(1) {
    border-left-width: 1px;
    border-left-style: solid;
}
.d-grid-froze-right .d-grid-bd tr td:nth-last-of-type(1) {
    border-right: 0;
}
.d-grid-bd tr {
    height: 36px;
    color: #444;
    background: #fff;
}
.d-grid-bd tr:nth-child(even){
	background: #fcfcfc;
}
.d-grid-bd tr.z-hover {
    background: #eee;
}
.d-grid-bd tr.z-crt {
    background: #ffec85;
    border-bottom-color: #ffb887;
}
.d-grid-bd div.td {
    padding: 0 7px;
    word-break: break-all;
}
.d-grid-bd div.td.z-hide-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.d-grid-bd div.td .d-grid-ipt {
    width: 100%;
    height: 26px;
    padding: 0 5px;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #444;
}
.d-grid-bd div.td .d-grid-ipt:focus {
    border-color: #bbb;
}
.d-grid-count {
    border-top: 1px solid #ddd;
    background: #f6ffaa;
}
.d-grid-count tr {
    color: #444;
}
.d-grid-count td {
    border-right: 1px solid #ddd;
}
.d-grid-count div.td {
    line-height: 22px;
    padding: 3px 7px;
}
.d-grid-froze-left .d-grid-count tr td:nth-last-child(1) {
    border-right-color: #ccc;
}
.d-grid-froze-right .d-grid-count tr td:nth-child(1) {
    border-left: 1px solid #ccc;
}
.d-grid-froze-right .d-grid-count tr td:nth-last-of-type(1) {
    border-right: 0;
}

.d-grid-page {
    position: relative;
    height: 40px;
    padding: 0 10px;
    border-top: 1px solid #ddd;
    line-height: 40px;
    font-size: 12px;
    color: #777;
    background: #f6f6f6;
}
.d-grid-page span {
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    line-height: 20px;
    vertical-align: middle;
}
.d-grid-page form {
    display: inline-block;
    width: 29px;
    height: 20px;
    margin: 0 5px;
}
.d-grid-page a {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #1395ed;
    text-align: center;
    vertical-align: middle;
}
.d-grid-page a:hover {
    color: #48b9ff;
}
.d-grid-page a.z-dis {
    color: #a1a1a1;
    cursor: not-allowed;
}
.d-grid-page a .df {
    font-size: 16px;
    vertical-align: -1px;
}
.d-grid-page input {
    width: 27px;
    height: 18px;
    border: 1px solid #acb8c0;
    text-align: center;
    vertical-align: -1px;
}
.d-grid-page p {
    float: right;
    color: #444;
}

.d-grid-chk-all, .d-grid-chk {
    vertical-align: -2px;
}